body {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 1;
    background-color: #06435f;
  }
  
h1  {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 30px;
  }

  textarea {
    background: transparent;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  .hero-image {
    background-image: url("images/outrun.png");
    background-color: #cccccc;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 0;
    border-bottom: 10px solid #06435f;
  }
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .notification {
    display: none;
    padding-bottom: 10px;
    color: black;
  }
  
  .show {
    display: block;
  }

  #notify {
    background-color: #06aed5;
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
  }